<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cart</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        h1 {
            font-size: 32px;
            margin: 40px auto 10px 12%;
        }

        h1 i {
            margin-left: 0.5rem;
        }

        .product-card {
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            width: calc(30% - 20px);
            margin: 10px;
            padding: 20px;
            text-align: center;
            transition: transform 0.2s;
            height: 30rem;
        }

        .product-card:hover {
            transform: translateY(-5px);
        }

        .product-img {
            max-width: 100%;
            height: 60%;
        }

        .product-name {
            margin: 10px 0;
            font-weight: bold;
        }

        .product-price {
            margin: 10px 0;
            font-weight: normal;
            font-size: 18px;
        }

        .product-quantity {
            margin: 10px 0;
            font-weight: normal;
            font-size: 18px;
        }
        .product-quantity-lbl {
            margin: 10px 4px 10px 25%;
            font-weight: normal;
            font-size: 18px;
        }

        .detail-button {
            width: 40%;
            background-color: #333;
            color: white;
            border: none;
            margin-top: 1rem;
            padding: 8px 16px;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.2s;
        }

        .delete-button {
            width: 40%;
            background-color: #e4e4e4;
            color: #333;
            border: none;
            margin-top: 1rem;
            padding: 8px 16px;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.2s;
        }

        .delete-button:active {
            background-color: #302f2f;
            color: #e4e4e4;
        }

        .detail-button:active {
            background-color: #e4e4e4;
            color: #302f2f;
        }

        .popup {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 9999;
        }

        .popup-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            width: 30%;
            max-height: 90%;
            overflow: auto;
        }

        .popup-content img {
            max-width: 80%;
            height: 80%;
            margin-left: 10%;
        }

        .popup-product-desc {
            margin-top: 15px;
        }

        .close-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 24px;
            cursor: pointer;
        }

        .empty-cart {
            font-size: 48px;
            font-weight: bold;
            margin-left: 35%;
            margin-top: 10%;

        }

        .shop-btn {
            display: inline-block;
            margin-left: 45%;
            margin-bottom: 3rem;
            text-decoration: none;
            background-color: #c6c6c6;
            color: #000;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 18px;
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        }

        .shop-btn:hover {
            background-color: #000000;
            color: #ffffff;
        }

        .quantity-container {
            display: flex;
            align-items: center;
        }

        .quantity-button-plus,.quantity-button-minus {
            padding: 5px 10px;
            margin-right: 10px;
            font-size: 22px;
        }

        .product-quantity {
            margin-right: 10px;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>

<body>
    <%- include('../partials/header.ejs',{username:username}) %>
        <h1>Cart<i class="fa-solid fa-cart-shopping"></i></h1>
        <div class="container" id="productContainer">
            <!-- Product cards will be added here using JavaScript -->
        </div>
        <div class="popup" id="popup">
            <div class="popup-content">
                <span class="close-btn" id="closeBtn">&times;</span>
                <h2 id="popupProductName"></h2>
                <p id="popupProductPrice"></p>
                <img src="" alt="" id="popupProductImage">
                <p id="popupProductDesc"></p>
            </div>
        </div>
        <a href="/products" class="shop-btn">Shop</a>
        <script src="/cartJS"></script>
</body>

</html>